# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel specific
/storage/app/public
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

# IDEs and editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node build artifacts
/public/js
/public/css
/public/mix-manifest.json

# Tailwind build artifacts
resources/css/app.css
